# Site Configuration
SITE_TITLE="Website Title"
SITE_DESCRIPTION="Just another WordPress site"
SITE_THEME_NAME="WPStarter"
SITE_ADMIN_USER="admin"
SITE_ADMIN_PASSWORD="change-me-to-secure-password"
SITE_ADMIN_EMAIL="info@example.com"

# WPStarter Options
WPSTARTER_WEBP_SUPPORT=true
WPSTARTER_PHP_BIN="php"

# Database Configuration
DB_NAME="test"
DB_USER="root"
DB_PASSWORD="change-me-to-secure-password"
DB_HOST="localhost"
DB_PREFIX="wp_"

# WordPress Options
WP_TIMEZONE="America/Chicago"
WP_START_OF_WEEK=0

# Plugins (comma-separated list)
# WP_PLUGINS="wpforms-lite,wordpress-seo,all-in-one-wp-migration,user-switching"
WP_PLUGINS=""
