// Vendor
@import "bootstrap/scss/mixins";

/*
 * Usage:
 * section {
 *     @include background-tinted($white, .75, "../img/home/picture.jpg");
 * }
 */
@mixin background-tinted($color, $opacity, $background-url) {
    background:
        linear-gradient(
            rgba($color, $opacity),
            rgba($color, $opacity)
        ),
        url($background-url);
}


/*
 * Usage:
 * section {
 *     @include full;
 * }
 */
@mixin full {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
