// Vendor
@import "bootstrap/scss/variables";

// Colors
$primary-color: #244458;
$secondary-color: #8A3232;
$tertiary-color: #F3AE3D;
$quaternary-color: #8EA67E;


// Typography
$headings-font-family: $headings-font-family;
$font-family-sans-serif: $font-family-sans-serif;
$primary-font: $font-family-sans-serif;
$secondary-font: $headings-font-family;


// Body
$body-bg: $white;
$body-color: $gray-900;
