// Colors
$primary-color: #244458;
$secondary-color: #8A3232;
$tertiary-color: #F3AE3D;
$quaternary-color: #8EA67E;

$brand-colors: (
    primary: $primary-color,
    secondary: $secondary-color,
    tertiary: $tertiary-color,
    quaternary: $quaternary-color
);

// Typography
$primary-font: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$secondary-font: null;
$font-family-sans-serif: $primary-font;
$headings-font-family: $secondary-font;


// Body
$body-bg: #FFF;
$body-color: #212529;


@import "bootstrap/scss/variables";
