// Colors
$color-primary: #244458;
$color-secondary: #8A3232;
$color-tertiary: #F3AE3D;
$color-quaternary: #8EA67E;

$brand-colors: (
    primary: $color-primary,
    secondary: $color-secondary,
    tertiary: $color-tertiary,
    quaternary: $color-quaternary
);

// Typography
$font-primary: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-secondary: null;
$font-thirdary: null;

$font-family-sans-serif: $font-primary;
$headings-font-family: $font-secondary;


// Body
$body-bg: #FFF;
$body-color: #212529;


// Layout
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 1092px,
    xl: 1360px
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 1060px,
    xl: 1300px
);


@import "bootstrap/scss/variables";
